body {
  background-color: white;
  font: sans-serif;
  font-size: 13px;
}

h1 {
  font-family: 'Zilla Slab', sans-serif;
  font-size:500%;
  display: inline;
  width: 40%;
  margin: 2%;
  line-height: 3em;
  background-color: #46bcfc;
}

nav {
  position: relative;
  display: block;
  height: 40%;
  width: 30%;
  background-color: #46bcfc;
}

/*Note: I'm trying to get the lis to show up when you hover as in a drop down from the blue box*/
ul li {
  display: none;
}

nav:hover {
  display: block;
  color: white;
}

section {
  height: 40%;
  width: 100%;
  background-color: black;
  color: white;
}

img {
  max-width: 100%;
}

/*CLASSES*/
.glass {
  background-image: url('/imgs/glass.jpg');
  background-size: cover;
}

.resume {
  background-color: red; 
}
