/*TODO: remove this
font-family: 'Special Elite', cursive;
font-family: 'Varela Round', sans-serif;


/*GLOBAL STYLING*/
body {
  background-color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}

h1 {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  display: inline;
  width: 40%;
  margin: 2%;
  line-height: 1.7em;
  background-color: #46bcfc;
}

nav {
  display: block;
  width: 20em;
  height: 10em;
  background-color: #46bcfc;
}

nav ul li {
  width: 8em;
  height: 10em;
  background-color: #46bcfc;
  font-size: 200%;
  list-style: none;
  padding: 1em;
}

section {
  padding: 1em;
  background-color: black;
  color: white;
}

img {
  max-width: 100%;
}

i {
  font-size: 32px;
}


/*MEDIA QUERY FOR DESKTOP*/
@media only screen and (min-width:960px){
  /*styling TBD*/
  });
