/*CLASSES*/
.glass {
  background-image: url('file:///C:/Users/Michelle/codefellows/301/portfolio/imgs/glass.jpg');
  background-size: cover;
}

.skills {
  display: none;
  background-color: orange;
}

.portfolio {
  background-color: black;
}

.template {
  display: none;
}

.resume {
  display: none;
  background-color: orange;
}

.accomps {
  display: none;
  background-color: black;
}

.langs {
  display: none;
  background-color: orange;
}

.vol {
  display: none;
  background-color: black;
}

.contact {
  background-color: orange;
}
