/*CLASSES*/
.glass {
  background-image: url('./imgs/sequins.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.rocks {
  background-image: url('./imgs/rocks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.code {
  background-image: url('./imgs/code.jpg');
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

.water {
  background-image: url('./imgs/water.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.circles {
  background-image: url('./imgs/circles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.skills {
  background-color: orange;
  z-index: -9;
}

/*.portfolio {
  background-color: black;
}

.template {
  display: none;
}

.resume {
  background-color: orange;
}

.accomps {
  background-color: black;
}

.langs {
  background-color: orange;
}

.vol {
  background-color: black;
}

.contact {
  background-color: orange;
}*/
